<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head> 
	<meta charset="utf-8" />
		<link rel=icon th:href="@{image/logoBianco.png}" >
		<title> Admin </title>
		<link rel="stylesheet" th:href="@{css/home.css}" />
		<link th:href="@{css/base.css}" rel="stylesheet">
	
		<!--reset css-->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	    <!--font preso da google-->
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap" rel="stylesheet">	
	</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <section>
    <div class="content">
    	<h1>Menu</h1>
		<li>
			<a th:href="@{/artista}">Elenco artisti</a>
   		</li>
   		<li>
			<a th:href="@{/admin/addArtista}">Inserisci dati artista</a>
   		</li>
   		<li>
			<a th:href="@{/opera}">Elenco opere</a>
   		</li>
   		<li>
			<a th:href="@{/admin/addOpera}">Inserisci dati opera</a>
   		</li>
   		<li>
			<a th:href="@{/collezioni}">Elenco collezioni</a>
   		</li>
   		<li>
			<a th:href="@{/admin/addCollezione}">Inserisci dati collezioni</a>
   		</li>
   		
   		<li>
			<a th:href="@{/logout}">Logout</a>
   		</li>
    </div>
    </section>
    <footer></footer>
</body>
</html>