/*Base Style*/
body {
    font-family: 'Noto Sans HK', sans-serif;
    background-color: floralwhite;
    margin: 0;
    padding: 0;
}


h1, h2, h3, h4, h5, p {
    color:black;
    padding-bottom:5px;
}

.big-text {
    font-size:70px;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

/*Barra di navigazione*/

.checkbox {
    display:none;
}

header {
    position:fixed;
    width:100%;
    z-index:10;
}

header-container {
    width:90%;
    position:relative;
    margin:1rem auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-logo {
    margin-top:20px;
    margin-left:20px;
}

.btn-label {
    width:2rem;
    height:1.4rem;
}

header-button {
    width: 2rem;
    height: 0.2rem;
    background-color: black;
    position: center;
    top: 1.9rem;
    transition: all 0.2s;
    
}

.header-button::before, .header-button::after {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background-color: black;
    position: absolute;
    align-content: center;
    transition: all 0.2s;
    margin-top: 40px;
}

.header-button::after {
    top:0.6rem;
}

.menu {
    background-color:darkred;
    width:100%;
    height:10rem;
    position:fixed;
    z-index:9;
    top:-12rem;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    text-align:center;
    padding-top:2rem;
    transition:all 0.5s;
    font-size:25px;
}

ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    justify-content: space-around;
}

li {
    margin:0.5rem;
}

a {
    margin:0.1rem;
    color:white;
    text-decoration:none;
}

.checkbox:checked ~ .menu {
    background-color:darkred;
    top:0rem;
}

.checkbox:checked + header .header-container label .header-button {
    background:none;
}

.checkbox:checked + header .header-container label .header-button::before {
    transform:rotate(35deg);
    top:0;
}

.checkbox:checked + header .header-container label .header-button::after {
    transform:rotate(-35deg);
    top:0;
}



/*Hero*/
.hero {
    background-color: darkred;
    height: 600px;
    display: flex;
    width: 100%;
    align-items: center;
}

.hero__content {
    width:100%;
    max-width:1350px;
    margin:100px;
}

#slider {
    overflow: hidden;
    max-height: 400px;
    width: 100%;
    margin-top: 100px;
    margin-right: 50px;
}
/*animation che impiega 20 secondi totali ad arrivare alla fine delle foto*/
    #slider figure {
        position: relative;
        width: 500%;
        margin-top: 10px;
        z-index:0;
        animation: 20s slider infinite;
    }
#slider figure img {
    width:20%;
    float:left;
}
/*fa partire animazione*/
@keyframes slider {
    0% {
        left:0;
    }
  20%{
        left: 0;
    }
   25%{
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }

    70%{
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400%;
    }
}
#aboutUs {
	width: 90%;
    margin-left: 15px;
    text-position:center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000;
} 
.services {
	border-box: solid 2px #000;
}