body {
    /* Stili per i titoli: Gill Sans per h1, Gill Sans MT per h2, Trebuchet MS per h3. sans-serif per h4  */
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
}
nav {
    
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color:darkred ;
    z-index:1;
}
/* Stile per la barra principale. Il colore è il celestino, con la scritta nera*/
    nav .titolo {
        padding: 5px;
        color: #FFF;
    }
    /* Stile per i link presenti nella barra principale. Il testo è allineato a destra*/
    nav ul {
        list-style:none;
        float:right;
        margin: -40px;
        padding:0;
        display:flex;
    }
        nav ul li a {
            padding: 10px 30px;
            color: #FFF;
            text-decoration:none;
            text-transform:uppercase;
        }
    nav ul li a:hover {
        background: rgba(0,0,0,0.5);
        border-radius: 6px;
    }
    
.parallax
{
	background: url(vangogh.jpg)
	repeat fixed 100%;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.parallax-inner {
    padding-top: 25%;
    padding-left: 80px;
    text-align: left;
    font-size: 80px;
    color: #000;

}


#biografia {
    
    width: 90%;
    margin-left: 15px;
    text-position:center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 7px;
    color: #808080;
}
.bio {
    
    font-size: 14px;
    color: #000;
}
#opera {
    width: 100%;
    background-color: #000;
    border-bottom: solid 2px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
}
.primo {
    border-bottom: 1px solid darkred;
    margin-left: 200px;
    padding-right: 100px;
    margin-right: 200px;
}
.descr {
padding-right: 90px;
padding-left:100px;
    text-align:left;
    color: darkred;
}
.descr2 {
padding-right: 120px;
padding-left:65px;
    text-align:left;
    color: darkred;
}


