body {
    font-family: 'Inter', sans-serif;
    margin:0;
}
nav {
    
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color:darkred ;
    z-index:1;
}
/* Stile per la barra principale. Il colore è il celestino, con la scritta nera*/
    nav .titolo {
        padding: 10px;
        font-size: 30px;
        color: #FFF;
    }
    /* Stile per i link presenti nella barra principale. Il testo è allineato a destra*/
    nav ul {
        list-style:none;
        float:right;
        margin: -40px;
        padding:30px;
        display:flex;
    }
       nav ul li a {
           padding: 10px 30px;
            color: #FFF;
            text-decoration:none;
            text-transform:uppercase;
        }
    nav ul li a:hover {
        background: rgba(0,0,0,0.5);
        border-radius: 6px;
    }
    
     
h1,  h3, h4, p {
    color: black;
    padding-bottom: 30px;
}

.big-text {
    font-size: 70px;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

#title {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
    padding: 100px;
    color: floralwhite;
    text-align: center;
    text-transform: full-width;
    overflow: hidden;
    position: relative;
    background-color: darkred;
    font-size: 40px;
}

#descrizione {
    width: 50%;
    margin-left: 15px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 17px;
    color: #808080;
}

.testo {
    font-size: 15px;
    color: #000;
}

#lista {
    width: 100%;
    background-color: #000;
    border-bottom: solid 2px #000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    display:flex;
    flex-direction:column;
}

.img1, .img2, .img3, .img4 {
    display: flex;
    flex-direction: column;
    margin-left:20px;
}

.descr {
    padding-left: 12px;
    padding-right: 14px;
    color: darkred;
    font-size: 15px;
}