body {
    font-family: 'Noto Sans HK', sans-serif;
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0px 80px;
    box-sizing: border-box;
    background-color: darkred;
    z-index: 1;
}
/* Stile per la barra principale. Il colore è il celestino, con la scritta nera*/
nav .titolo {
    padding: 10px;
    font-size: 20px;
    color: #FFF;
}
/* Stile per i link presenti nella barra principale. Il testo è allineato a destra*/
nav ul {
    list-style: none;
    float: right;
    margin: -90px;
    padding: 20px;
    display: flex;
}

nav ul li a {
    padding: 10px 30px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
}

/*Font*/
h1, h3, h4, p {
    color: black;   
}

.big-text {
    font-size: 70px;
}

.med-text {
    font-size: 40px;
}

.normal-text {
    font-size: 20px;
}

#title {
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
    text-align: center;
    text-transform: full-width;
    overflow: hidden;
    position: relative;
    background-color: darkred;
    width:100%;
}

#descrizione {
    width: 100%;
    height:auto;
    margin-left: 15px;
    margin-top:5px;
    margin-bottom:5px;
    font-size: 17px;
    color: black;
}

.testo {
    font-size: 15px;
    color: black;
}

.opera1, .opera2, .opera3, .opera4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: black;
}

.img {
    width: 100%;
    height: auto;
    flex: 50%;
}

.descrizione {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    
}

.descrizione a {
    color:darkred;
    display:flex;
    flex-direction:column;
    font-size:19px;
}

.descrizione p {
    color:white;
    font-family: 'Great Vibes', cursive;
    font-size:30px;
}

/*Contatti e mappa*/
.contact {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: black;
    border-top: solid 2px;
    border-color: white;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-info {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
}

.contact-info h1 {
    margin-bottom: 10px;
    color: white;
}

.dati h3 {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
}

.dati p {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
}

.logo {
    margin-right: 10px;
}
