body {
    /* Stili per i titoli: Gill Sans per h1, Gill Sans MT per h2, Trebuchet MS per h3. sans-serif per h4  */
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', Calibri;
    margin: 0;
    background-color: #880202;

}
nav {
    
    top:0;
    left:0; 
    width:100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color:darkred ;
    z-index:1;
}
/* Stile per la barra principale. Il colore � il celestino, con la scritta nera*/
    nav .titolo {
        padding: 5px;
        color: #FFF;
        font-size: 10px;
        text-align:left;
    }
    /* Stile per i link presenti nella barra principale. Il testo � allineato a destra*/
    nav ul {
        list-style:none;
        float:right;
        padding:0;
        display:flex;
    }
        nav ul li a {
            padding: 10px 30px;
            color: #FFF;
            text-decoration:none;
            text-transform:uppercase;
        }
    nav ul li a:hover {
        background: rgba(0,0,0,0.5);
        border-radius: 6px;
}
#paragrafo {
    text-align: justify;
    font-size: 34px;

}
.titolo {
    text-align: center;
    font-size: 48px;
    text-transform: full-width;
 
}
.descr {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    color: #808080;
}

/*Contatti e mappa*/
.contact {
    width:98%;
    height:auto;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    padding:1%;
    background-color:black;

}

.contact-map {
    width:100%;
    height:auto;
    flex:50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-info {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align:center;
    
}

.contact-info h1 {
    margin-bottom:10px;
    color:white;
}

.dati h3 {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
}

.dati p {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
}
.logo {
    margin-right:10px;
}