<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{/image/museo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Artista</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/artista.css}" />
    <!--font preso da google-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap"
          rel="stylesheet">
          <link th:href="@{/css/base.css}" rel="stylesheet">

</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <div th:if="${artista}" th:object="${artista}">
    <section class="parallax">
        <div class="parallax-inner"><h1 th:text="*{nome} + ' ' + *{cognome}">kklk</h1></div>
    </section>

    <section id="biografia">
        <div th:text="*{dataDiNascita}"> </div> <span th:text="*{luogoDiNascita}">Zundert, Paesi Bassi -</span> <span th:text="*{dataDiMorte}"> </span> <span th:text="*{luogoDiMorte}">Auvers-sur-Oise, Francia</span>
        <div class="bio" th:text="*{descrizione}">
            <p>
                Fu autore di quasi novecento dipinti e di più di mille
                disegni, senza contare i numerosi schizzi non portati a termine.
                Tanto geniale quanto incompreso se non addirittura disprezzato in
                vita, Van Gogh influenzò profondamente l'arte del XX secolo.
                Iniziò a disegnare da bambino nonostante le critiche del padre,
                pastore protestante che continuo' ad impartirgli delle norme severe.
                Iniziò a dipingere tardi, all'età di ventisette anni,realizzando
                molte delle sue opere più note nel corso degli ultimi due anni di
                vita. Dopo aver trascorso diversi anni soffrendo di frequenti
                disturbi mentali, morì all'età di trentasette anni. I suoi
                soggetti consistevano in autoritratti, paesaggi, nature morte di
                fiori, dipinti con cipressi, rappresentazione di campi di grano e
                girasoli.
            </p>
        </div>

    </section>

    <section id="opera">
        <div>
            <h2 class="primo"></h2>
            <h2>OPERE</h2>
            <h2 class="primo"></h2>
        </div>
        <div th:if="${opera}" th:object="${opera}">
        <ul>
			<li th:each="artista.opere : ${opere}">
			<img th:src="@{/image/notteStellata.jpg}" width="300px" height="200px" hspace="15px" vspace="15px" /> 
				<a href="opera.html" 
				   th:href="@{'/opera' + '/' + ${opera.id}}" 
				   th:text="${opera.nome}">Notte stellata</a>
			</li>
		</ul>
        </div>
    <div th:unless="${opera}">Questa opera non esiste</div>
    </section>
</div>
    	<div th:unless="${artista}" th:style="'color:white'">Questo artista non esiste</div>
    </div>
   <footer th:replace="fragments/base.html :: fondo"></footer>

</body>
</html>