<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{image/museo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Elenco Artisti</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/artisti.css}" />
    <!--font preso da google-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap"
          rel="stylesheet">
          <link th:href="@{/css/base.css}" rel="stylesheet">

</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <ul class="push">
			<li th:each="collezione : ${collezione}">
				<a href="collezione.html" 
				   th:href="@{'/collezione' + '/' + ${collezione.id}}" 
				   th:text="${collezione.nome} ':'" th:style="'color:black'"> Collezioni</a>
				   <div th:each="collezione.artisti : ${artista}">
				   <span th:text="${artista.nome} ':'" th:style="'color:black'">  Artisti</span>
				   <div th:each="artista.opere : ${opera}">
				   <img th:src="@{image/opera3.jpg}">
				   <span th:text="${opera.nome} ':'" th:style="'color:black'">  Opere</span>
				   </div>
				   </div>
			</li>
		</ul>
		 <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html> 