<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
   <meta charset="utf-8" />
   <link rel=icon th:href="@{image/logoBianco.png}" >
   <title> Errore </title>
   <!--reset css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--font preso da google-->
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap" rel="stylesheet">	
      <style>div {
		background-color:darkred;
		font-family: 'Noto Sans HK', sans-serif;
		color: white;
	  }
	  h1 {
		font-family: 'Noto Sans HK', sans-serif;
	}</style>
   </head>
   
   <h1>Errore!</h1>
   <div class="errorPage">
      <br />
      <p>
		Sembra che ci sia un problema con la pagina richiesta
(
         <span th:text="${path}" />
         ).
      </p>
      <p th:text="${'Details: ' + message}" />
      <p th:text="${'Status: ' + status}" />
   </div>
</html>