<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- logo -->
<link rel=icon th:href="@{image/museo.png}">
<!-- titolo mostrato per la pagina dell'itinerario -->
<title>Informazioni</title>
<!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->

<link th:href="@{css/base.css}" rel="stylesheet">
 <link rel="stylesheet" th:href="@{css/informazione.css}" />
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	
	<section class="parallax">
		<div class="parallax-inner">Informazioni</div>
	</section>
	<section class="info">
		<div >
			<p>
				ORARI: <br> Lun-Ven 9:00-17:00 <br> Sab-Dom 9:00-20:00 <br>

				NOTTE BIANCA: 20 giugno 21:00-00:00
			</p>
			<p>
			PREZZI BIGLIETTI: </br>
			Intero                               12€ </br>
			Ridotto (over 70. enti)              10€ </br>
			Ridotto Junior(sotto i 12 anni)       6€ </br>
			Ridotto Studenti                      6€ </br>
			Family Ticket (2 adulti + 2 bambini) 24€  
			</p>
		</div>

	</section>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>