<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{/image/museo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Elenco Artisti</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/form.css}" />
    <!--font preso da google-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@700&display=swap"
          rel="stylesheet">
          <link th:href="@{/css/base.css}" rel="stylesheet">

</head>
<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <section id="modulo">
	<div class="content">
    <div>
		<h4>Inserisci i dati dell'opera</h4>
	</div>
	<form th:action="@{/admin/opera}" method="POST" th:object="${opera}">	
		<div>
			<div>
				<label>Titolo:</label>
				<span><input type="text" th:field="*{titolo}" /></span>
			</div>	
			<div>
				<label>Anno:</label>
				<span><input type="text" th:field="*{anno}" /></span>
			</div>	
			<div>
				<label>Descrizione:</label>
				<span><input type="text" th:field="*{descrizione}" /></span>
			</div>	
			<div>
				<label>Nome Artista:</label>
				<span><input type="text" th:field="*{artista.nome}" /></span>
			</div>
			<div>
				<span><button type="submit" class="pulsante">Conferma Opera</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
    